*{
    margin:0;
    padding:0
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
.clearfix::after{
    content:'';
    clear:both;
    display:block;
}
html {
    background: #707171;
}

body {
    font: 12px 'Microsoft YaHei',SimSun,Helvetica,Tahoma,Arial,sans-serif!important;
    background: url(./img/bg.jpg) no-repeat 10% 160px;
    color: #666;
    text-shadow:0.01em 0.01em 0.01em #999999 !important
}

header{
    height:90px;
    background-color: rgb(35,31,32);
}
.head{
    width:1000px;
    margin:0 auto;
}

.head>.logo{
    float:left;
}
.head>.logo a{
    display: block;
    width: 200px;
    height: 82px;
    background: transparent;
    overflow: hidden;
    line-height: 10em;
    background: url(./img/logo.png) no-repeat;
}
.head>.logo a::after{
    content:"";
    background: url(./img/logo2.png) no-repeat;
}
.logo_key{
    background:url(./img/logo2.png) no-repeat !important;
}
.head>.search{
    height:90px;
    float:right;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
.head>.search input{
    color: #eee;
    vertical-align: middle;
    border-radius: 3px;
    margin-right: 3px;
    background-color: #555
}
#q-text {
    width: 172px;
    height: 18px;
    padding: 5px 5px 5px 25px;
    font-size: 14px;
    border: medium none;
    line-height: 18px;
    background: #777;
}
.button {
    height: 28px;
    font-size: 12px;
    _padding-top: 1px;
    width: 60px;
    line-height: 28px;
    text-align: center;
    border: medium none;
    cursor: pointer;
    color: #FFF
}
main{
    margin-top:140px;
    margin-bottom:240px;
    text-align:center;
}
#main{
    display:inline;
}
#main>div{
    height:50px;
    padding:10px 20px;
    margin-bottom:12px;
}
kbd{
    width: 47px;
    height: 69px;
    border-radius: 8px;
    padding: 0 12px;
    line-height: 69px;
    /* float: left; */
    display:inline-block;
    position: relative;
    margin: 0 12px 12px 0;
    box-sizing:content-box;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform:uppercase;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
kbd:active{
    top: 2px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}
kbd>button{
    position:absolute;
    display:none;
}

kbd>button:nth-of-type(1){
    right:0;
    bottom:0;
}
kbd>button:nth-of-type(2){
    right:15px;
    bottom:0px;
}
kbd:hover>button{
    display:inline;
}
kbd>img{
    position:absolute;
    height:16px;
    width:16px;
    top:2px;
    left:2px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.73);
	border-radius:10px;
    box-shadow:0 1px 2px #333 inset;
}

footer{
    background-color: #aeafaf;
    padding:20px 0;
}
.footer-wrapper{
    color:rgb(102, 101, 101);
    width: 1000px;
    margin:0 auto;
}
.footer-wrapper a{
    border-top: #D0D0D0 solid 1px;
    color:rgb(70, 70, 70);
    font-size:14px;
}
.footer-wrapper p>a{
    margin-right:10px;
    font-weight:600;
}
